<configuration>
  <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers accessPolicy="Read, Execute, Script">
        </handlers>
    <rewrite>
        <rules>
            <clear />    
            <rule name="Imported Rule 1" stopProcessing="true">
                <match url="^(.*)/$" ignoreCase="false" />
                <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                </conditions>
                <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
            </rule>
                                        
            <rule name="Imported Rule 2" stopProcessing="true">
                <match url="^" ignoreCase="false" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                </conditions>
                <action type="Rewrite" url="index.php" />
            </rule>

            <rule name="Imported Rule 3" stopProcessing="true">
                <match url="^index.php/?(.*)$" ignoreCase="false" />
                <action type="Redirect" redirectType="Permanent" url="{R:1}" />
            </rule>
        </rules>
    </rewrite>
	<httpErrors errorMode="Detailed" />
        <caching enableKernelCache="false">
            <profiles>
                <remove extension=".css" />
                <remove extension=".js" />
                <remove extension=".html" />
                <remove extension=".png" />
            </profiles>
        </caching>
    </system.webServer>
    <system.web>
        <authorization>
            <allow users="?" />
        </authorization>
        <roleManager enabled="true" />
    </system.web>
</configuration>